<template>
    <div v-cloak>
    <!-- Content Header (Page header) -->
        <div class="content-header pt-4">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard

                    </h1>
                </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row" v-if="dataLoaded">
                <div class="col-lg-4 col-6">
                    <!-- small box -->
                <div class="card card-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header" style="background-color:rgb(182, 137, 51)">
                        <div class="widget-user-image">
                         <span class="icon" ><i class="las la-book text-white"></i></span>
                        </div>
                        <!-- /.widget-user-image -->
                        <h3 class="widget-user-username text-white">Projets</h3>
                        <h5 class="widget-user-desc text-white">Aperçu général</h5>
                    </div>
                    <div class="card-footer p-0">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    Total <span class="float-right ">{{entities.nombre_projet}}</span>
                                    </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    En cours<span class="float-right ">{{entities.projet_en_cours}}</span>
                                    </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    Terminé <span class="float-right ">{{entities.projet_termine}}</span>
                                    </a>
                            </li>
                            <li class="nav-item bg-white">
                                <router-link to="/projets" class=" p-2 pl-3 small-box-footer ">En savoir plus <i class="fas fa-arrow-circle-right"></i></router-link>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-6">
                <div class="card card-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header" style="background-color:#29384e">
                        <div class="widget-user-image">
                            <span class="icon" ><i class="las la-industry text-white"></i></span>
                        </div>
                        <!-- /.widget-user-image -->
                        <h3 class="widget-user-username text-white" style="">Entreprises</h3>
                        <h5 class="widget-user-desc text-white">Aperçu général</h5>
                    </div>
                    <div class="card-footer p-0">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    Total <span class="float-right ">{{entities.nombre_entreprise}}</span>
                                    </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    Secteurs d'activités <span class="float-right ">{{entities.effectif_moyen}}</span>
                                    </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    Pays <span class="float-right ">{{entities.effect}}</span>
                                    </a>
                            </li>
                            <li class="nav-item bg-white">
                                <router-link to="/entreprises" class=" p-2 pl-3 small-box-footer ">En savoir plus <i class="fas fa-arrow-circle-right"></i></router-link>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
                <div class="col-lg-4 col-6">
                    <!-- small box -->
                <div class="card card-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header" style="background-color:#105e1a">
                        <div class="widget-user-image">
                            <span class="icon" ><i class="las la-user-circle text-white"></i></span>
                        </div>
                        <!-- /.widget-user-image -->
                        <h3 class="widget-user-username text-white">Membres</h3>
                        <h5 class="widget-user-desc text-white">Aperçu général</h5>
                    </div>
                    <div class="card-footer p-0">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    Total<span class="float-right ">{{entities.nombre_membre}}</span>
                                    </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    Nationalités representées<span class="float-right ">0 %</span>
                                    </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link">
                                    Pays le plus représenté <span class="float-right ">0</span>
                                    </a>
                            </li>
                            <li class="nav-item bg-white">
                                <router-link to="/trombinoscope" class=" p-2 pl-3 small-box-footer ">En savoir plus <i class="fas fa-arrow-circle-right"></i></router-link>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->

        </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->

        <div class="row">
            <div class="small col-sm-4">
                <line-chart :chart-data="datacollection"></line-chart>
            </div>
            <div class="small col-sm-4">
                <bar-chart :chart-data="entreprise"></bar-chart>
            </div>
            <div class="small col-sm-4">
                <line-chart :chart-data="projet"></line-chart>
            </div>
        </div>


    </div>
</template>

<script>

    import Master from "./Master.vue";
    import LineChart from './LineChart.js'
    import BarChart from './BarChart.js'

      import { Line, mixins,Bar } from 'vue-chartjs'


const { reactiveProp } = mixins

    export default {
        extends: Line,Bar,
          props: ['options'],
            components: {
            LineChart,
            BarChart,


    },
        mixins: [Master,reactiveProp],

        data()
          {
            return{
                info:"",
                entities:{
                   nombre_projet:"",
                   projet_en_cours:"",
                   projet_termine:"",
                   nombre_entreprise:"",
                   effectif_moyen:"",
                   effectif_total:"",
                },
                dataLoaded:false,
                datacollection: null,
                entreprise:null,
                projet:null,

                waiting:
        {
            entities:false,
        },
         }
        },
        computed:
        {

        },
        created()
         {
            this.pageInit = false
            this.fetch()
        },
        mounted()
        {

              this.pageInit = true
                    this.fillData()

              this.renderChart(this.chartData, this.options)
        },
        methods:
        {
            fillData () {
                this.datacollection = {
                labels: ['1','2','3','4','5','6','7','8','9','10','11','12'],
                datasets: [
                    {
                    label: 'Membres',
                    backgroundColor: 'rgb(182, 137, 51)',
                    data: ['1','12','11','2','4','6','7','8','9','10','11','12']
                    }
                ]
                },
                this.entreprise = {
                labels: ['1','2','3','4','2','3'],
                datasets: [
                    {
                    label: 'Entreprises',
                    backgroundColor: 'rgb(41, 56, 78)',
                    data: ['1','2','3','4','2','3']
                    }
                ]
                },
                this.projet = {
                labels: ['1','2','3','4','2','3'],
                datasets: [
                    {
                    label: 'Projets',
                    backgroundColor: 'rgb(16, 94, 26)',
                    data: ['1','2','3','4','2','3']
                    }
                ]
                }
            },
            getRandomInt () {
                return Math.floor(Math.random() * (50 - 5 + 1)) + 5
            },

           fetch()
            {
                var url = "/api/dashboard/"
                axios.get(url,{ params : this.params }).then((response) =>
                {
                       this.entities = response.data
                       this.waiting.entities = true
                       this.dataLoaded = true
                },
                (error) => {
                         console.log("Promise Rejected:")

                });
            },

        },

    }
</script>
<style scoped>
   .small-box{
       min-height: 111px;
   }
     .small {
    max-width: 100%;
  }
  .widget-user-header
  {
      color:black;
  }
  .widget-user-image .icon
  {
    float: left;
    height: auto;
    font-size: 80px;
  }
    .widget-user-2 .widget-user-header
  {
     color :black !important;
  }
    .widget-user-2 li.nav-item  a
  {
     cursor:default !important;
     color :black;
  }
      .widget-user-2 li.nav-item:last-child  a
  {
     cursor: pointer !important;
  }
  .widget-user-2 li.nav-item  span.float-right
  {
      color :black;
  }

  .bloc-recent-history-date-text
  {
    color: #6c757d;
    font-size: 0.8rem;
  }
  .small {
    max-width: 400px;
    margin:  100px auto;
  }
</style>
