<template>
<div class="facture" style="">
    <!-- begin facture-company -->
    <div class="facture-company">
        <span class="pull-right hidden-print">
						<a href="javascript:;" class="btn btn-sm btn-white m-b-10"><i class="fa fa-file-pdf t-plus-1 text-danger fa-fw fa-lg"></i> Exporter en PDF</a>
						<a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-white m-b-10"><i class="fa fa-print t-plus-1 fa-fw fa-lg"></i>Imprimer</a>
					</span>GEOLOC
    </div>
    <!-- end facture-company -->
    <!-- begin facture-header -->
    <div class="facture-header">
        <div class="facture-from">
            <small>from</small>
            <address class="m-t-5 m-b-5">
							<strong class="text-inverse">GEOLOC</strong><br>
							Street Address<br>
							Libreville, Zip Code<br>
							Phone: (00241) XXX-XXXXX<br>
							Fax: (00241) XXXX-XXXX
						</address>
        </div>
        <div class="facture-to">
            <small>to</small>
            <address class="m-t-5 m-b-5">
							<strong class="text-inverse">Company Name</strong><br>
							Street Address<br>
							City, Zip Code<br>
							Phone: (123) 456-7890<br>
							Fax: (123) 456-7890
						</address>
        </div>
        <div class="facture-date">
            <small>Facture / July period</small>
            <div class="date text-inverse m-t-5">August 3,2012</div>
            <div class="facture-detail">
                #0000123DSS
                <br> Services Product
            </div>
        </div>
    </div>
    <!-- end facture-header -->
    <!-- begin facture-content -->
    <div class="facture-content">
        <!-- begin table-responsive -->
        <div class="table-responsive">
            <table class="table table-facture">
                <thead>
                    <tr>
                        <th>TASK DESCRIPTION</th>
                        <th class="text-center" width="10%">RATE</th>
                        <th class="text-center" width="10%">HOURS</th>
                        <th class="text-right" width="20%">LINE TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="text-inverse">Website design &amp; development</span>
                            <br>
                            <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id sagittis arcu.</small>
                        </td>
                        <td class="text-center">$50.00</td>
                        <td class="text-center">50</td>
                        <td class="text-right">$2,500.00</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="text-inverse">Branding</span>
                            <br>
                            <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id sagittis arcu.</small>
                        </td>
                        <td class="text-center">$50.00</td>
                        <td class="text-center">40</td>
                        <td class="text-right">$2,000.00</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="text-inverse">Redesign Service</span>
                            <br>
                            <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id sagittis arcu.</small>
                        </td>
                        <td class="text-center">$50.00</td>
                        <td class="text-center">50</td>
                        <td class="text-right">$2,500.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end table-responsive -->
        <!-- begin facture-price -->
        <div class="facture-price">
            <div class="facture-price-left">
                <div class="facture-price-row">
                    <div class="sub-price">
                        <small>SUBTOTAL</small>
                        <span class="text-inverse">$4,500.00</span>
                    </div>
                    <div class="sub-price">
                        <i class="fa fa-plus text-muted"></i>
                    </div>
                    <div class="sub-price">
                        <small>PAYPAL FEE (5.4%)</small>
                        <span class="text-inverse">$108.00</span>
                    </div>
                </div>
            </div>
            <div class="facture-price-right">
                <small>TOTAL</small> <span class="f-w-600">$4508.00</span>
            </div>
        </div>
        <!-- end facture-price -->
    </div>
    <!-- end facture-content -->
    <!-- begin facture-note -->
    <div class="facture-note">
        * Make all cheques payable to [Your Company Name]
        <br> * Payment is due within 30 days
        <br> * If you have any questions concerning this facture, contact [Name, Phone Number, Email]
    </div>
    <!-- end facture-note -->
    <!-- begin facture-footer -->
    <div class="facture-footer">
        <p class="text-center m-b-5 f-w-600">
            THANK YOU FOR YOUR BUSINESS
        </p>
        <p class="text-center">
            <span class="m-r-10"><i class="fa fa-fw fa-lg fa-globe"></i> matiasgallipoli.com</span>
            <span class="m-r-10"><i class="fa fa-fw fa-lg fa-phone-volume"></i> T:016-18192302</span>
            <span class="m-r-10"><i class="fa fa-fw fa-lg fa-envelope"></i> rtiemps@gmail.com</span>
        </p>
    </div>
    <!-- end facture-footer -->
</div>    
</template>
<script>
    export default {
        props: ['entity'],       
         data() {
            return{
                options:{
                    assureurs:[]
                }
            }
            
        },
        created()
        {

        },
        mounted() 
        {
          window.event.$on('created-assurance-event',(assurance)=> 
          {
              this.entity.assurance.unshift(assurance)
          })
          window.event.$on('created-carte-grise-event',(carteGrise)=> 
          {
              this.entity.carte_grise = carteGrise
          })
          window.event.$on('created-visite-technique-event',(visite)=> 
          {
              this.entity.visite_technique.unshift(visite) 
          })
        },
       methods:
       {


            fetchOptions()
             {
               axios.get("/api/dispatcher/options/vehicule-details").then((response) =>
                {
                      this.options.assureurs = response.data.assureurs
                      //envoie un event pour signifier le chargement des options
                      this.$emit('initOption');
                      this.pageInit =true
                },
                (error) =>
                {
                  this.isLoading = false
                });
             },
       },
       computed:
       {
             assurance()
             {
                
                if(this.entity!=null && this.entity!=undefined && this.entity!="")
                  {
                    if(this.entity.hasOwnProperty('assurance'))
                    {
                         if(this.entity.assurance.length>0)
                        {
                          return this.entity.assurance[0]
                        }
                    }
                  }
                 return null
             },
             carte()
             {
                
                if(this.entity!=null && this.entity!=undefined && this.entity!="")
                  {
                    if(this.entity.hasOwnProperty('carte_grise'))
                    {
                    
                          return this.entity.carte_grise
                        
                    }
                  }
                 return null
             },
              visite()
             {
                
                if(this.entity!=null && this.entity!=undefined && this.entity!="")
                  {
                    if(this.entity.hasOwnProperty('visite_technique'))
                    {
                         if(this.entity.visite_technique.length>0)
                        {
                          return this.entity.visite_technique[0]
                        }
                    }
                  }
                 return null
             },
                progression()
                {
                
                    let percent  = 0
                    if(this.assurance!=null)
                    {
                        percent += 34
                    }
                    if(this.carte!=null)
                    {
                        percent += 34
                    }
                    if(this.visite!=null)
                    {
                        percent += 32
                    }
                
                    
                    return {
                        taux : percent,
                        message : percent ==100 ? "Documentation Validée ":"Progression de la Documentation: "+percent+"%",
                        statut :  percent ==100 ? true : false
 
                    }
                },
       },
        components:
        {
	    }
    }
</script>
<style lang="scss" scoped>
.facture {
    background: #fff;
    padding: 20px;
}
.facture>div:not(.facture-footer) {
    margin-bottom: 20px;
}

.facture .facture-company {
    font-size: 20px;
    font-weight: 600;
}
.facture>div:not(.facture-footer) {
    margin-bottom: 20px;
}

.facture .facture-header {
    margin: 0 -20px;
    background: #d9e0e7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.facture>div:not(.facture-footer) {
    margin-bottom: 20px;
}
.facture>div:not(.facture-footer) {
    margin-bottom: 20px;
}

.facture .facture-note {
    color: #4e5c68;
    margin-top: 80px;
    font-size: 11px;
    line-height: 1.75;
}
.facture .facture-footer {
    border-top: 1px solid #d5dbe0;
    padding-top: 15px;
    font-size: 11px;
    color: #4e5c68;
}

.pull-right {
    float: right!important;
}

.facture .facture-from {
    padding: 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.facture .facture-to {
    padding: 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.facture .facture-date {
    text-align: right;
    padding: 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.facture .facture-price {
    background: #d9e0e7;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.facture .facture-price .facture-price-left {
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    vertical-align: middle;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.facture .facture-price .facture-price-right {
    margin-left: auto;
    padding: 20px;
    font-size: 28px;
    font-weight: 300;
    position: relative;
    vertical-align: bottom;
    text-align: right;
    color: #fff;
    background: #2d353c;
    min-width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
}
.facture .facture-price .facture-price-left .facture-price-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.facture .facture-price .facture-price-left .facture-price-row .sub-price {
    padding: 0 20px;
}
.facture .facture-price small {
    font-size: 12px;
    font-weight: 400;
    display: block;
}
.text-inverse {
    color: #2d353c!important;
}
.facture .facture-price .facture-price-right small {
    display: block;
    opacity: .6;
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 12px;
}

.btn-white {
    color: #212529;
    background-color: #fff;
    border-color:  #afafaf82;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}
</style>